<!-- PAGE CONTENT
		============================================= -->	
		<div id="page" class="page">


			<!-- HERO-16
			============================================= -->	
			<section id="hero-16" class="hero-section division">
				<div class="container">	
					<div class="row d-flex align-items-center">


						<!-- HERO IMAGE -->
						<div class="col-md-5 col-lg-6 order-last order-md-2">	
							<div class="hero-16-img pc-25 text-center">
                        <img class="img-fluid" src="/images/img/sangee.jpeg" alt="hero-image">
							</div>
						</div>


						<!-- HERO TEXT -->
						<div class="col-md-7 col-lg-6 order-first order-md-2">
							<div class="hero-16-txt">
								
								<!-- Title -->
								<h4 class="h2-sm">Hi, I'm</h4>
								<h2 class="h2-sm">Sangeeth Nandakumar</h2>

								<!-- Text -->
						<p class="p-xl">Founder of - Twileloop Enterprises</p>
						<p class="p-xl">Twileloop Enterprises, is a pioneering entity that encompasses multiple self-managed business ventures. <br /><br />With a steadfast commitment to excellence, Twileloop Enterprises is driven to provide products of the highest quality, both free and paid, to its discerning customers. </p>


						<!-- Advantages List -->
								<ul class="advantages">
							<li class="first-li"><p>enquiry@twileloop.com</p></li>
									<li class="last-li"><p>twileloop.com</p></li>
								</ul>

							</div>
						</div>	<!-- END HERO TEXT -->
	

					</div>    <!-- End row --> 	
				</div>	   <!-- End container --> 	
			</section>	<!-- END HERO-16 -->


	<section id="cta-11" class="bg-snow cta-section division" style="margin-top:100px">
		<div class="container">
			<div class="bg-tra-purple cta-11-wrapper">
				<div class="row d-flex align-items-center">


					<!-- CALL TO ACTION TEXT -->
					<div class="col-lg-7 col-lg-7">
						<div class="cta-11-txt">

							<!-- Title -->
							<h2 class="h2-xs">Explore ..!</h2>

							<!-- Text -->
							<p class="p-lg">
								From complimentary offerings to premium products & services, we provide an extensive collection of products that cater to a diverse range of customer needs.
							</p>

							<!-- Button -->
							<a href="pricing.html" class="btn btn-violet-red tra-violet-red-hover">Explore Products & Services</a>

						</div>
					</div>


					<!-- CALL TO ACTION BUTTON -->
					<div class="col-lg-5">
						<div class="text-end">
							<div class="cta-11-img text-center">
								<img class="img-fluid" src="images/img-25.png" alt="cta-image">
							</div>
						</div>
					</div>


				</div>
			</div>    <!-- End row -->
		</div>	   <!-- End container -->
	</section>


		