<section id="projects-2" class="bg-snow pb-60 inner-page-hero pricing-section division">
	<div class="container">


		<!-- SECTION TITLE -->
		<div class="row justify-content-center">
			<div class="col-lg-10 col-xl-8">
				<div class="section-title title-01 mb-70">

					<!-- Title -->
					<h2 class="h2-md">Top Notch Features</h2>

					<!-- Text -->
					<p class="p-xl">
						Twileloop Surveys is feature packed with a lot of benifits inside, Take a look
					</p>

				</div>
			</div>
		</div>


		<!-- PROJECTS-2 WRAPPER -->
		<div class="row">
			<div class="col gallery-items-list">
				<div class="masonry-wrap grid-loaded" style="position: relative; height: 1196.67px;">


					<!-- PROJECT #1 -->
					<div class="project-details masonry-image" style="position: absolute; left: 0%; top: 0px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-05.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">Drag & Drop Survey Builder</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">Graphic Design</p>

						</div>

					</div>	<!-- END PROJECT #1 -->
					<!-- PROJECT #2 -->
					<div class="project-details masonry-image" style="position: absolute; left: 33.3321%; top: 0px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-02.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">
									Branding &amp; Colors
								</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">UI, Interaction Design</p>

						</div>

					</div>	<!-- END PROJECT #2 -->
					<!-- PROJECT #3 -->
					<div class="project-details masonry-image" style="position: absolute; left: 66.6642%; top: 0px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-04.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">
									Comprahensive Dashboard
								</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">UX, Illustration</p>

						</div>

					</div>	<!-- END PROJECT #3 -->
					<!-- PROJECT #4 -->
					<div class="project-details masonry-image" style="position: absolute; left: 33.3321%; top: 546.344px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-01.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">
									AI Powered Survey Insights
								</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">Web Design</p>

						</div>

					</div>	<!-- END PROJECT #4 -->
					<!-- PROJECT #5 -->
					<div class="project-details masonry-image" style="position: absolute; left: 0%; top: 650.328px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-03.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">First Class Assistance</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">Web Design</p>

						</div>

					</div>	<!-- END PROJECT #5 -->
					<!-- PROJECT #6 -->
					<div class="project-details masonry-image" style="position: absolute; left: 66.6642%; top: 650.328px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-06.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">
									API &amp; WebHook Access
								</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">UI, Interaction Design</p>

						</div>

					</div>	<!-- END PROJECT #6 -->
					


					<!-- PROJECT #1 -->
					<div class="project-details masonry-image" style="position: absolute; left: 0%; top: 0px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-05.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">
									Public &amp; Private Surveys
								</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">Graphic Design</p>

						</div>

					</div>	<!-- END PROJECT #1 -->
					<!-- PROJECT #2 -->
					<div class="project-details masonry-image" style="position: absolute; left: 33.3321%; top: 0px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-02.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">
									Auto Backup To Google Drive
								</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">UI, Interaction Design</p>

						</div>

					</div>	<!-- END PROJECT #2 -->
					<!-- PROJECT #3 -->
					<div class="project-details masonry-image" style="position: absolute; left: 66.6642%; top: 0px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-04.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">
									Survey Response Excel Export
								</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">UX, Illustration</p>

						</div>

					</div>	<!-- END PROJECT #3 -->
					<!-- PROJECT #4 -->
					<div class="project-details masonry-image" style="position: absolute; left: 33.3321%; top: 546.344px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-01.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">
									Desktop &amp; Mobile Optimized
								</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">Web Design</p>

						</div>

					</div>	<!-- END PROJECT #4 -->
					<!-- PROJECT #5 -->
					<div class="project-details masonry-image" style="position: absolute; left: 0%; top: 650.328px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-03.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">
									Auto Google Sheets Export
								</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">Web Design</p>

						</div>

					</div>	<!-- END PROJECT #5 -->
					<!-- PROJECT #6 -->
					<div class="project-details masonry-image" style="position: absolute; left: 66.6642%; top: 650.328px;">

						<!-- Image -->
						<div class="project-preview rel">
							<div class="hover-overlay">
								<img class="img-fluid" src="images/projects/project-06.jpg" alt="project-preview">
								<div class="item-overlay"></div>
							</div>
						</div>

						<!-- Text -->
						<div class="project-txt">

							<!-- Link -->
							<h5 class="h5-md">
								<a href="project-details.html">
									WhatsApp &amp; Web Surveys
								</a>
							</h5>

							<!-- Text -->
							<p class="p-md grey-color">UI, Interaction Design</p>

						</div>

					</div>	<!-- END PROJECT #6 -->
					


				</div>
			</div>
		</div>	<!-- END PROJECTS-1 WRAPPER -->
		<!-- MORE PROJECTS -->
		<div class="row">
			<div class="col">
				<div class="more-btn mt-20">
					<a href="projects.html" class="btn btn-violet-red tra-grey-hover">View More Projects</a>
				</div>
			</div>
		</div>	<!-- END DOWNLOAD BUTTON -->


	</div>	   <!-- End container -->
</section>