@{
    ViewData["Title"] = "Official Twileloop Packages | Productivity NuGet Packages";
    ViewData["Description"] = "Free .NET NuGet packages for various needs from Sangeeth Nandakumar";
}

<section id="hero-6" class="hero-section division">
    <div class="container">
        <div class="row d-flex align-items-center">

            <section id="works" class="division">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            
                            <h1 class="section-title" style="margin-top:50px">Welcome To <font color="#59abf3">Twileloop</font>.com</h1>
                            <h4 class="section-title">Open Sourced | 100% Free For Commercial Use | MIT Licensed</h4>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
