<!-- HERO-6
		============================================= -->
<section id="hero-6" class="hero-section division">
	<div class="container">
		<div class="row d-flex align-items-center">


			<!-- HERO TEXT -->
			<div class="col-lg-6">
				<div class="hero-6-txt">

					<!-- Title -->
					<h4 class="h2-md">Twileloop Surveys:</h4>
					<h2 class="h2-md"><span style="color: #f6412d">Modern</span>, Smart Data Collection</h2>
					<!-- Subheading -->
					<p class="p-lg">
						Harness the power of our intuitive drag & drop survey builder, AI-powered response analysis, and API access to transform your data into actionable insights in no time.
					</p>

					<div class="btns-group wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
						<a href="#content-3" class="btn btn-red tra-violet-red-hover mr-15">Free Demo ➜</a>
									<a href="#features-4" class="btn btn-tra-black tra-violet-red-hover">All Features</a>
								</div>

				</div>
			</div>	<!-- END HERO TEXT -->
			<!-- HERO IMAGE -->
			<div class="col-lg-6">

				<div class="hero-23-img video-preview wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
					<!-- Play Icon -->
					<a class="video-popup1" href="https://www.youtube.com/embed/SZEflIVnhH8">
						<div class="video-btn video-btn-xl bg-violet-red ico-90">
							<div class="video-block-wrapper"><span class="flaticon-play-button"></span></div>
						</div>
					</a>
					<!-- Preview Image -->
					<img class="img-fluid" src="images/hero-23-img.jpg" alt="video-preview">
				</div>
			</div>


		</div>    <!-- End row -->
	</div>	   <!-- End container -->
	<!-- WAVE SHAPE BOTTOM -->
	<div class="wave-shape-bottom">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 215"><path fill="#ffffff" fill-opacity="1" d="M0,128L120,149.3C240,171,480,213,720,208C960,203,1200,149,1320,122.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
	</div>


</section>	<!-- END HERO-6 -->
<!-- FEATURES-8
============================================= -->
<section id="features-8" class="wide-60 features-section division">
	<div class="container">


		<!-- SECTION TITLE -->
		<div class="row justify-content-center">
			<div class="col-lg-10 col-xl-10">
				<div class="section-title title-01 mb-70">

					<span class="section-id rounded-id bg-tra-purple purple-color txt-upcase">
					 				Cutting Edge Features
					 			</span>

					<!-- Title -->
					<h2 class="h2-md">A Complete Feature Set</h2>

					<!-- Text -->
					<p class="p-xl">
						Create custom surveys, gain valuable insights, and drive growth with our powerful survey builder and AI-powered insights. Our comprehensive dashboard provides real-time analysis and reporting, so you can make informed decisions that drive your business forward.
					</p>

				</div>
			</div>
		</div>


		<!-- FEATURES-8 WRAPPER -->
		<div class="fbox-8-wrapper text-center">
			<div class="row row-cols-1 row-cols-md-3">


				<!-- FEATURE BOX #1 -->
				<div class="col">
					<div class="fbox-8 mb-40 wow fadeInUp">

						<!-- Image -->
						<div class="fbox-img bg-whitesmoke-gradient">
							<img class="img-fluid" src="images/surveybuilder.png" alt="feature-icon" />
						</div>

						<!-- Title -->
						<h5 class="h5-sm">Powerful Survey Builder</h5>

						<!-- Text -->
						<p class="p-md">
							Create high-quality surveys with ease. Customize your surveys to gather insights and make data-driven decisions.
						</p>


						<a style="margin-top:30px" href="#cta-11" class="btn btn-red tra-grey-hover last-link">Explore More</a>

					</div>
				</div>


				<!-- FEATURE BOX #2 -->
				<div class="col">
					<div class="fbox-8 mb-40 wow fadeInUp">

						<!-- Image -->
						<div class="fbox-img bg-whitesmoke-gradient">
							<img class="img-fluid" src="images/aitools.png" alt="feature-icon" />
						</div>

						<!-- Title -->
						<h5 class="h5-sm">AI-Powered Insights</h5>

						<!-- Text -->
						<p class="p-md">
							Turn your survey data into actionable insights with our AI-powered tools. Understand your audience and uncover growth opportunities.
						</p>

												<a style="margin-top:30px" href="#cta-11" class="btn btn-red tra-grey-hover last-link">Explore More</a>


					</div>
				</div>


				<!-- FEATURE BOX #3 -->
				<div class="col">
					<div class="fbox-8 mb-40 wow fadeInUp">

						<!-- Image -->
						<div class="fbox-img bg-whitesmoke-gradient">
							<img class="img-fluid" src="images/dashboard.png" alt="feature-icon" />
						</div>

						<!-- Title -->
						<h5 class="h5-sm">Comprehensive Dashboard</h5>

						<!-- Text -->
						<p class="p-md">
							Track and analyze your survey data in real-time. Gain insights and make data-driven decisions to grow your business.
						</p>

						<a style="margin-top:30px" href="#cta-11" class="btn btn-red tra-grey-hover last-link">Explore More</a>


					</div>
				</div>


			</div>  <!-- End row -->
		</div>	<!-- END FEATURES-8 WRAPPER -->


	</div>	   <!-- End container -->
</section>	<!-- END FEATURES-8 -->
<!-- CONTENT-3
============================================= -->
<section id="content-3" class="bg-snow content-3 wide-60 content-section division">
	<div class="container">


		<!-- TOP ROW -->
		<div class="top-row pb-50">
			<div class="row d-flex align-items-center">


				<!-- IMAGE BLOCK -->
				<div class="col-md-5 col-lg-6">
					<div class="img-block left-column wow fadeInRight">
						<img class="img-fluid" src="images/apiaccess.png" alt="content-image">
					</div>
				</div>


				<!-- TEXT BLOCK -->
				<div class="col-md-7 col-lg-6">
					<div class="txt-block right-column wow fadeInLeft">

						<span class="section-id rounded-id bg-tra-purple purple-color txt-upcase">
					 				API Integration
					 			</span>

						<h4 class="h2-md">Your Data On A Call Away</h4>
						<h2 class="h2-md">API Access - Integrate As You Like</h2>

						<!-- Text -->
						<p class="p-lg">
							Integrate Twileloop Surveys into your existing workflows with our powerful API access. <br /><br />We provide APIs that brings data to your table, Use it on your advantage. Connect with your favorite CRM, like Salesforce, to seamlessly import survey data and gain valuable insights that drive growth. <br /><br />Our API access makes it easy to work smarter and take your data to the next level. Don't just collect data - use it to your advantage with Twileloop Surveys.
						</p>

					</div>
				</div>	<!-- END TEXT BLOCK -->


			</div>
		</div>	<!-- END TOP ROW -->
		<!-- BOTTOM ROW -->
		<div class="bottom-row">
			<div class="row d-flex align-items-center">


				<!-- TEXT BLOCK -->
				<div class="col-lg-6 order-last order-lg-2">
					<div class="txt-block slim-column left-column wow fadeInRight">

						<!-- TEXT BOX -->
						<div class="txt-box mb-20">

							<span class="section-id rounded-id bg-tra-purple purple-color txt-upcase">
					 				REALTIME TRACKER
					 			</span>

							<!-- Title -->
							<h4 class="h2-md">Built-In, Reatime...</h4>
							<h2 class="h2-md">Survey Tracker</h2>

							<!-- Text -->
							<p class="p-lg">
								Our comprehensive tracker, monitors your survey's performance second by second restless.
								<br /><br />
								From tracking how many people have opened your survey to how many have submitted it, our powerful tracker gives you the insights you need. Stay ahead of the game and take your survey strategy to the next level with Twileloop Surveys.
							</p>

						</div>

						<!-- TEXT BOX -->
						<div class="txt-box">

							<!-- Title -->
							<h5 class="h5-lg">Track Every Possiblity</h5>

							<!-- List -->
							<ul class="simple-list">

								<li class="list-item">
									<p class="p-lg">
										<b>Opened</b> - Track how many people opened your survey
									</p>
								</li>

								<li class="list-item">
									<p class="p-lg">
										<b>Submitting Now</b> - Track how many users are currently filling out your survey
									</p>
								</li>

								<li class="list-item">
									<p class="p-lg">
										<b>Submitted</b> - Track how many users have successfully submitted your survey
									</p>
								</li>

								<li class="list-item">
									<p class="p-lg">
										<b>Area from IP</b> - Track the approximate geographic area of users based on their IP address
									</p>
								</li>

								<li class="list-item">
									<p class="p-lg">
										<b>Device</b> - Track the type of device users are accessing your survey from
									</p>
								</li>

							</ul>

						</div>	<!-- END TEXT BOX -->

					</div>
				</div>	<!-- END TEXT BLOCK -->
				<!-- CB WRAPPER -->
				<div class="col-lg-6 order-first order-lg-2">
					<div class="cb-wrapper">

						<!-- CB HOLDER -->
						<div class="cb-holder wow fadeInLeft">

							<!-- CB BOX #1 -->
							<div class="cb-single-box">
								<p class="p-lg cb-header">8 Surveys Running</p>
								<h2 class="h2-title-xs statistic-number"><sup>Realtime...</sup><br/><span class="count-element">784</span></h2>
								<p class="p-md mt-5 ico-10">
									<span class="green-color"><span class="flaticon-"></span> 4.6%</span> vs last 7 days
								</p>
							</div>

							<hr class="divider">

							<!-- CB BOX #2 -->
							<div class="cb-single-box">
								<ul class="simple-list">
									<li class="list-item">
										<p class="p-md">Fringilla risus luctus mauris auctor and purus euismod purus</p>
									</li>

									<li class="list-item">
										<p class="p-md">Nemo ipsam volute turpis dolores ut quaerat sodales sapien</p>
									</li>
								</ul>
							</div>

							<!-- CB BOX #3 -->
							<div class="cb-single-box cb-box-rounded bg-green white-color mt-25">
								<h4 class="h4-lg">98.245</h4>
								<p class="p-lg">Ligula risus auctor tempus</p>
							</div>

						</div>	<!-- END CB HOLDER -->
						<!-- CB SHAPE -->
						<div class="cb-shape-1">
							<img class="img-fluid" src="images/bg-shape-1.png" alt="content-image">
						</div>

						<!-- CB SHAPE -->
						<div class="cb-shape-2">
							<img class="img-fluid" src="images/bg-shape-2.png" alt="content-image">
						</div>


					</div>
				</div>	<!-- END CB WRAPPER -->


			</div>
		</div>	<!-- END BOTTOM ROW -->


	</div>	   <!-- End container -->
</section>	<!-- END CONTENT-3 -->


<section id="content-3" class="content-3 wide-60 content-section division">
	<div class="container">

		<!-- BOTTOM ROW -->
		<div class="bottom-row">
			<div class="row d-flex align-items-center">


				<!-- IMAGE BLOCK -->
				<div class="col-md-5 col-lg-6">
					<div class="img-block left-column wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
						<img class="img-fluid" src="images/img-17.png" alt="video-preview">
					</div>
				</div>


				<!-- TEXT BLOCK -->
				<!-- TEXT BLOCK -->
				<div class="col-md-7 col-lg-6 order-last order-lg-2">
					<div class="txt-block left-column wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">


						<!-- TEXT BOX -->
						<div class="txt-box mb-20">

							<span class="section-id rounded-id bg-tra-purple purple-color txt-upcase">
								100% Customization
							</span>

							<!-- Title -->
							<h4 class="h2-md">Templates</h4>
							<h2 class="h2-md">Colors & Themes</h2>

							<!-- Text -->
							<p class="p-lg">
								At Twileloop Surveys, we put you in the driver's seat. With our designer toolkit, you have complete control over your surveys, from custom colors and themes to personalized templates and logos.
								<br /><br />
								Our intuitive platform lets you add branding, link to your website, and choose from a variety of fonts and themes to make your survey truly unique.<br /><br />So why settle for a cookie-cutter survey when you can create a masterpiece with Twileloop Surveys?
							</p>



						</div>


					</div>
				</div>	<!-- END TEXT BLOCK -->


			</div>
		</div>	<!-- END BOTTOM ROW -->

		<!-- TOP ROW -->
		<div class="top-row pb-50">
			<div class="row d-flex align-items-center">


				<!-- TEXT BLOCK -->
				<div class="col-md-7 col-lg-6 order-last order-lg-2">
					<div class="txt-block left-column wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">


						<!-- TEXT BOX -->
						<div class="txt-box mb-20">

							<span class="section-id rounded-id bg-tra-purple purple-color txt-upcase">
								Most Modern
							</span>

							<!-- Title -->
							<h2 class="h2-md">AI Powered Surveys</h2>

							<!-- Text -->
							<p class="p-lg">
								With our AI powered analytics tools, you'll gain insights into your survey results like never before. <br /><br />Our systems inteligently applies different AI models on your data to derive insigts you never seen before
								<br /><br />
								Why settle for a basic, outdated survey platform when you can experience the future with AI-powered Twileloop Surveys? Try us out today and discover a new world of surveying.
							</p>

						</div>




					</div>
				</div>	<!-- END TEXT BLOCK -->
				<!-- IMAGE BLOCK -->
				<div class="col-md-5 col-lg-6 order-first order-md-2">
					<div class="img-block left-column wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
						<img class="img-fluid" src="images/img-16.png" alt="content-image">
					</div>
				</div>


			</div>
		</div>	<!-- END TOP ROW -->


	</div>	   <!-- End container -->
</section>