@{
    ViewData["Title"] = "Twileloop Blogs | Technical Blogs In Programming";
    ViewData["Description"] = "twileloop blogs are maintained by Sangeeth Nandakumar";
}


<div class="container-fluid" style="margin-top:80px;">
    <div class="row d-flex align-items-center">

        <section id="works" class="division">
            <div class="container-fluid" style="width: 80%">

                <section class="section" id="blog">
                    <div class="container-fluid">

                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                <div class="section-title">
                                    <h3>The Website Is On Maintenance</h3>
                                    <h1>You can still browse other sections of the site, Click below</h1>
                                    <centre>
                                        <div class="social-links">
                                            <a href="https://packages.twileloop.com" aria-label="Goto Twileloop Packages" target="_blank" class="btn btn-social btn-pink">
                                                Goto Twileloop Packages
                                            </a>
                                        </div>
                                    </centre>
                                    <p>Website Last Updated On - May 13 2023</p>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <center class="mt-4">
                               @*  <ul class="skill-list">
                                    <li>Microservices</li>
                                    <li>.NET Core</li>
                                    <li>SQL Server</li>
                                    <li>WebAPI</li>
                                    <li>React + Redux</li>
                                    <li>jQuery</li>
                                    <li>Embedded Raspberry Pi</li>
                                </ul> *@

                                <img src="@CDNRoot.SHARED/images/work-in-progress.png" />
                            </center>

                           @*  <partial name="_BlogItem_Horizontal" />                         
                            

                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" />

                            <partial name="_BlogItem_Horizontal" />

                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" />

                            <partial name="_BlogItem_Horizontal" />

                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" /> *@

                        </div>

                    </div>
                </section>

            </div>
        </section>
    </div>
</div>