@{
    ViewData["Title"] = "Twileloop Blogs | Technical Blogs In Programming";
    ViewData["Description"] = "twileloop blogs are maintained by Sangeeth Nandakumar";
}

<style>

    .section {
        padding: 60px 0;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #333;
    }

    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
        color: #555;
    }

    .project-item {
        margin-bottom: 30px;
    }

        .project-item img {
            max-width: 100%;
            height: auto;
        }

    .skill-list {
        margin-bottom: 30px;
    }

        .skill-list li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 5px 10px;
            background-color: mediumvioletred;
            color: #fff;
            border-radius: 5px;
            font-size: 18px;
        }
</style>

<div class="container-fluid" style="margin-top:80px;">
    <div class="row d-flex align-items-center">

        <section id="works" class="division">
            <div class="container-fluid" style="width: 80%">

                <section class="section" id="blog">
                    <div class="container-fluid">

                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                <div class="section-title">
                                    <h3>The Website Is On Maintenance</h3>
                                    <h1>You can still browse other sections of the websites, Click below</h1>
                                    <centre>
                                        <div class="social-links">
                                            <a href="https://packages.twileloop.com" aria-label="Goto Twileloop Packages" target="_blank" class="btn btn-social btn-blue">
                                                Goto Twileloop Packages
                                            </a>
                                        </div>
                                    </centre>
                                    <p>Website Last Updated On - May 13 2023</p>
                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <center class="mt-4">
                               @*  <ul class="skill-list">
                                    <li>Microservices</li>
                                    <li>.NET Core</li>
                                    <li>SQL Server</li>
                                    <li>WebAPI</li>
                                    <li>React + Redux</li>
                                    <li>jQuery</li>
                                    <li>Embedded Raspberry Pi</li>
                                </ul> *@

                                <img src="@CDNRoot.SHARED/images/work-in-progress.png" />
                            </center>

                           @*  <partial name="_BlogItem_Horizontal" />                         
                            

                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" />

                            <partial name="_BlogItem_Horizontal" />

                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" />

                            <partial name="_BlogItem_Horizontal" />

                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" />
                            <partial name="_BlogItem" /> *@

                        </div>

                    </div>
                </section>

            </div>
        </section>
    </div>
</div>