@model Packages.Twileloop.ViewModels.PackageViewModel;

@{
    ViewData["Title"] = Model.ActivePackage.Name + " Documentation";
    ViewData["Description"] = "Official .NET integration guide for " + Model.ActivePackage.Name + " NuGet package";
}

<section id="hero-6" class="hero-section division">
    <div class="container">
        <div class="row d-flex align-items-center">
            <partial name="_Author" />
            <section id="first-recomendations" class="division">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="section-title mt-4">Other Projects You Might Be Interested In</h5>
                            <partial name="_MarqueeRecomendation" model="Model" />
                        </div>
                    </div>
                </div>
            </section>
            <hr style="margin-top:50px" />

            @Html.Raw(Model.ActivePackage.HTMLContent)
            <section id="last-recomendations" class="division">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5 class="section-title mt-4">Other Projects You Might Be Interested In</h5>
                            <partial name="_MarqueeRecomendation" model="Model" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
        });
    });
</script>