@using Twileloop.Models;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "My Projects";
}
@inject CDNRoot cdnRoot;
@inject IHttpContextAccessor accessor;
@model List<Project>;

<style>
    .btn {
        background: deeppink !important;
    }
</style>

<div class="container px-4 py-5" style="margin-top: 100px" id="custom-cards">

    <center>
        <h3 class="pb-2 m-4">
            This is my website were I host some of my recent projects
        </h3>
        <h1 class="pb-2">
            Explore My Projects
        </h1>
    </center>

    <div class="row">

        @foreach (var project in Model)
        {
            var queryParams = accessor.HttpContext.Request.QueryString;
            var finalUrl = $"/projects/{project.Slug}{queryParams}";

            <div class="col-md-4 mt-4" onclick="window.location.href='@finalUrl'" style="cursor: pointer !important">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://img.freepik.com/free-photo/abstract-multi-colored-wave-pattern-shiny-flowing-modern-generated-by-ai_188544-15588.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold text-white" style="background:black">
                            @project.Name
                        </h3>
                    </div>
                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
                        Project Details & Screenshots
                    </button>
                </div>
            </div>
        }


    </div>
</div>