@using Twileloop.Models;
@{
    ViewData["Title"] = "My Projects";
}
@inject CDNRoot cdnRoot;
@model Project;

<script>
    function GenerateAnchorURL() {
        // Get the current URL
        var currentURL = window.location.href;

        // Get the value from the search textbox
        var searchValue = document.getElementById('search').value;

        // Convert the search value to base64
        var base64Value = btoa(searchValue);

        // Form the new URL with the base64 value
        var newURL = currentURL.split('?')[0] + '?anchor=' + base64Value;

        // Check if the current URL has an anchor query
        if (currentURL.includes('anchor=')) {
            // Replace the existing anchor query with the new one
            newURL = currentURL.replace(/anchor=[^&]+/, 'anchor=' + base64Value);
        }

        // Copy the new URL to the clipboard
        var dummy = document.createElement('input');
        document.body.appendChild(dummy);
        dummy.value = newURL;
        dummy.select();
        document.execCommand('copy');
        document.body.removeChild(dummy);

        // Change the text color to green to indicate success
        document.getElementById('search').style.color = 'lightgreen';
    }
</script>

<style>

    .anchor button{
        background: green
    }

    .anchor button:hover {
        background: lightgreen;
        color: white;
    }

    .section {
        padding: 60px 0;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #333;
    }

    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
        color: #555;
    }

    .project-item {
        margin-bottom: 30px;
    }

        .project-item img {
            max-width: 100%;
            height: auto;
        }

    .skill-list {
        margin-bottom: 30px;
    }

        .skill-list li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 5px 10px;
            background-color: deepskyblue;
            color: #fff;
            border-radius: 5px;
            font-size: 14px;
        }
</style>



<section style="margin-top: 50px" class="section">
    <div class="container">
        <div class="row">
            <section id="" class="hero-section division mb-4">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="profile-info">
                                <h1 class="name"><font color="deeppink">WELCOME TO MY </font>PROJECT GALLERY</h1>
                                <h4 class="subheading ">
                                    My gallery where you can explore the projects I developed
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>


<section class="">

    <div class="container">

        <hr />
        <center>
            <h1 class="mt-3">
                @Model.Name
            </h1>
            <h2 class="subheading mb-4 desc">
                @Model.Description
            </h2>
        </center>

        <hr />

        <div class="row">

            <h4>VIDEOS:</h4>
            @if(Model.Videos.Any())
            {
                <div class="alert alert-primary" role="alert">
                    Few videos demonstrating the software:
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Haven't added any videos yet, Check my other projects for videos
                </div>
            }
            @foreach(var video in Model.Videos)
            {
                <iframe class="mt-3" width="1088" height="612" src="@video" title="Sangeeth Nandakumar" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            }

            <hr/>

            <h4 class="mt-4">SCREENSHOTS:</h4>
            @if (Model.Images.Any())
            {
                <div class="alert alert-primary" role="alert">
                    Few screenshots demonstrating the software:
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Haven't added any screenshots yet, Check my other projects for screenshots
                </div>
            }
            @foreach (var image in Model.Images)
            {
                <article class="mt-3 col-md-6 project-item">
                    <img src="@image" alt="Project 1">
                </article>
            }
         
        </div>
    </div>
</section>

<hr/>

<nav class="navbar bg-body-tertiary anchor">
    <div class="container-fluid">
        <div class="d-flex" role="search">
            <input class="form-control" id="search" placeholder="Generate Permalink" aria-label="Search">
            <button onclick="GenerateAnchorURL()" class="btn m-0" type="submit">Copy</button>
        </div>
    </div>
</nav>