<article class="col-md-4 project-item mt-4">
    <a href="#">
        <div class="card" style="border-radius: 10px; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);">
            <img src="~/xunit.png" />
            <div class="card-body">
                <h3>Introduction To XUnit + Moq</h3>
                <hr />
                <p>
                    MTA certifications are for individuals intending to build a career in desktop infrastructure, server infrastructure, or private cloud computing.
                </p>
                <h5 class="card-title">Granted on: March 2019</h5>
                <h6 class="card-subtitle mb-2 text-muted">Updated: <span style="color: skyblue;">2 Days Before</span></h6>
            </div>
        </div>
    </a>
</article>