<header class="header navbar-dark tra-menu" id="header">
    <div class="header-wrapper">
        <div class="clearfix wsmobileheader">
            <span class="smllogo">
                    <img alt="mobile-logo" src="@CDNRoot.PROJECT/images/logo.webp" width="235" height="38">
            </span>
            <a href="#" class="wsanimated-arrow" id="wsnavtoggle"><span></span></a>
        </div>
        <div class="clearfix menu wsmainfull">
            <div class="clearfix wsmainwp">
                <div class="desktoplogo">
                    <a href="#" class="logo-black"><img alt="header-logo" src="@CDNRoot.PROJECT/images/logo.webp"></a>
                </div>
                <div class="desktoplogo">
                    <a href="#" class="logo-white"><img alt="header-logo" src="@CDNRoot.PROJECT/images/logo.webp"></a>
                </div>
                <nav class="clearfix wsmenu">
                    <ul class="nav-stateblue-hover wsmenu-list">
                        <li class="nl-simple" aria-haspopup="true">
                            <a href="https://packages.twileloop.com" class="btn btn-stateblue last-link tra-grey-hover">
                                Back To All Packages
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>