<header id="header" class="header tra-menu navbar-dark">
    <div class="header-wrapper">
        <div class="wsmobileheader clearfix">
            <span class="smllogo"><img src="@CDNRoot.PROJECT/images/logo.webp" alt="mobile-logo" /></span>
            <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
        </div>

        <div class="wsmainfull menu clearfix">
            <div class="wsmainwp clearfix">
                <div class="desktoplogo">
                    <a href="/" class="logo-black"><img src="@CDNRoot.PROJECT/images/logo.webp" alt="header-logo" /></a>
                </div>
                <div class="desktoplogo">
                    <a href="/" class="logo-white"><img src="@CDNRoot.PROJECT/images/logo.webp" alt="header-logo" /></a>
                </div>

                <nav class="wsmenu clearfix">
                    <ul class="wsmenu-list nav-stateblue-hover">

                        <li aria-haspopup="true">
                            <a href="#">Blogs<span class="wsarrow"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true">
                                    <a href="https://utilities.twileloop.com">Explore All Blogs ➜</a>
                                </li>
                                <li aria-haspopup="true">
                                    <a href="https://utilities.twileloop.com/ebook-converter">EBook Converter</a>
                                </li>
                            </ul>
                        </li>

                        <li aria-haspopup="true">
                            <a href="#">Utilities<span class="wsarrow"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true">
                                    <a href="https://utilities.twileloop.com">Explore All Services ➜</a>
                                </li>
                                <li aria-haspopup="true">
                                    <a href="https://utilities.twileloop.com/ebook-converter">EBook Converter</a>
                                </li>
                            </ul>
                        </li>

                        <li aria-haspopup="true">
                            <a href="#">Packages<span class="wsarrow"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true">
                                    <a href="https://packages.twileloop.com">Explore All Packages ➜</a>
                                </li>
                                <li aria-haspopup="true">
                                    <a href="https://packages.twileloop.com/twileloop.security">Security</a>
                                </li>
                                <li aria-haspopup="true">
                                    <a href="https://packages.twileloop.com/twileloop.timezone">Timezone</a>
                                </li>
                                <li aria-haspopup="true">
                                    <a href="https://packages.twileloop.com/twileloop.spreadsheet">Spreadsheet</a>
                                </li>
                                <li aria-haspopup="true">
                                    <a href="https://packages.twileloop.com/twileloop.uow">Unit Of Work</a>
                                </li>
                                <li aria-haspopup="true">
                                    <a href="https://packages.twileloop.com/twileloop.jetapi">JetAPI<span>BETA</span></a>
                                </li>
                            </ul>
                        </li>

                        <li aria-haspopup="true">
                            <a href="#">About<span class="wsarrow"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true">
                                    <a href="/portfolio">Portfolio</a>
                                </li>
                            </ul>
                        </li>

                        @*<li class="nl-simple" aria-haspopup="true">
                            <a href="#cta-11" class="btn btn-stateblue tra-grey-hover last-link">Let's Started</a>
                        </li>*@
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
