@using Twileloop.Helpers;
@inject IHttpContextAccessor accessor;


@{
    var url = accessor?.HttpContext?.Request.Path;

    var title = "";
    var desc = "";
    string html = "";

    switch (url) {
        case "/pos":
            title = "Grandse POS Pro by Twileloop Enterprice";
            desc = "Grandse POS Pro - A modern, highly customizable, and advanced POS system that covers your purchase, inventory, billing needs and produces exceptional reports. Streamline your business management with our professional system.";

            html = $@"<meta charset=utf-8'>
                    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
                    <meta name='author' content='{title}' />
                    <meta name='description' content='{desc}' />
                    <meta name='keywords' content='Grandse POS Pro, POS system, purchase, inventory, billing, reports, management, business needs, customizable, twileloop, grandse' />
                    <!-- OPEN GRAPH -->
                    <meta property='og:title' content='Example Page Title'>
                    <meta property='og:description' content='This is an example page description. It should be no more than 155 characters and contain relevant keywords.'>
                    <meta property='og:image' content='https://twileloop.com/images/og/pos.png'>
                    <meta property='og:url' content='https://twileloop.com/pos'>
                    <meta property='og:type' content='website'>
                    <!-- SITE TITLE -->
                    <title>{title}</title>";
            break;

        default:
            title = "Twileloop Surveys";
            desc = "Harness the power of our intuitive drag & drop survey builder, AI-powered response analysis, and API access to transform your data into actionable insights in no time.";

            html = $@"<meta charset='utf-8'>
                    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
                    <meta name='author' content='Sangeeth Nandakumar' />
                    <meta name='description' content='{desc}' />
                    <meta name='keywords' content='twileloop, grandse, pos' />
                    <!-- OPEN GRAPH -->
                    <meta property='og:title' content='{title}'>
                    <meta property='og:description' content='{desc}'>
                    <meta property='og:image' content='https://twileloop.com/images/og/index.png'>
                    <meta property='og:url' content='https://twileloop.com'>
                    <meta property='og:type' content='website'>
                    <!-- SITE TITLE -->
	                <title>{title}</title>";
            break;
    }
}

@Html.Raw(html)
